.button{
    font-weight: 600;
    padding: 0px 12px;
    cursor: pointer;
    font-size: 14px;
    min-height: 36px;
    background: #3369f3;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    display: flex;
    color: #333333;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    border: 1px solid lightgray;

    &:hover {
        opacity: 0.8;
    }

    &_primary{
        background: #3369f3;
        color: #ffffff;
        border: none;
    }
    &_secondary{
        background: #ffffff;
        color: #3369f3;
        border: none;
    }
}
