$color-baseblack: #1E1E1E;
$color-scrollshadow: #0000004d;
$color-dirtywhite: #F5F5F5;
$color-darkgrey: #555555;
$color-blue: #3369F3;
$color-white: #FFFFFF;
$color-underlay:#00000014;

$shadow: 0px 4px 4px -1px #aba8a8